@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <article>


        <figure class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/BjHwKbw8tNA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>

        <p class="h6 text-left"> 09/09/9999 - Author Name <small class="text-muted">Todos van a morir!</small></p>

        <h2 class="h2 text-left">Diablo IV - Trailer Preview</h2>

        <p class="lead text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc varius malesuada augue, vel ultricies massa cursus non. Aenean tempor lectus non pretium efficitur. Morbi eget porta massa.
            Curabitur dictum diam dui, id congue justo facilisis a.

        <p> Vivamus et eros facilisis tortor aliquet hendrerit semper vitae lacus. Ut leo enim, interdum ut nisi sed, elementum dictum arcu. Donec vestibulum felis eget molestie imperdiet. Ut imperdiet ex ut malesuada ultrices. Donec volutpat volutpat finibus. Proin condimentum gravida quam eget sodales. Aliquam lobortis porta dolor ac lobortis. Nam condimentum ex eu velit consequat ultrices. Curabitur aliquet eu metus at blandit. Duis eget nunc eget mauris vulputate ultrices ac a dolor. </p>
    </article>


    
</div>

